<script lang="ts" setup>
import { ref } from "vue";
import angry from "../../feeling_imgs/Angry.png";
import cute from "../../feeling_imgs/Cute.png";
import excited from "../../feeling_imgs/Excited.png";
import pain from "../../feeling_imgs/Pain.png";
import shocked from "../../feeling_imgs/Shocked.png";
import smile from "../../feeling_imgs/Smile.png";
const result = ref("Smile");
const onClick = (name: string) => {
  result.value = name;
};
</script>
<template>
  <v-container>
    <v-row
      ><v-col
        ><v-img :src="angry" v-if="result === 'Angry'"></v-img
        ><v-img :src="cute" v-if="result === 'Cute'"></v-img
        ><v-img :src="excited" v-if="result === 'Excited'"></v-img
        ><v-img :src="pain" v-if="result === 'Pain'"></v-img
        ><v-img :src="shocked" v-if="result === 'Shockee'"></v-img
        ><v-img :src="smile" v-if="result === 'Smile'"></v-img
      ></v-col>

      <v-col class="d-flex flex-column mb-6">
        <p class="text-h1 text-center mt-5 mb-5">{{ result }}</p>

        <v-btn
          :class="'mb-4'"
          @click="onClick('Angry')"
          :color="result == 'Angry' ? 'yellow' : 'undefined'"
          >angry</v-btn
        ><v-btn
          class="mb-4"
          @click="onClick('Cute')"
          :color="result == 'Cute' ? 'yellow' : 'undefined'"
          >cute</v-btn
        ><v-btn
          class="mb-4"
          @click="onClick('Excited')"
          :color="result == 'Excited' ? 'yellow' : 'undefined'"
          >excited</v-btn
        ><v-btn
          class="mb-4"
          @click="onClick('Pain')"
          :color="result == 'Pain' ? 'yellow' : 'undefined'"
          >pain</v-btn
        ><v-btn
          class="mb-4"
          @click="onClick('Shockee')"
          :color="result == 'Shockee' ? 'yellow' : 'undefined'"
          >shocked</v-btn
        ><v-btn
          class="mb-4"
          @click="onClick('Smile')"
          :color="result == 'Smile' ? 'yellow' : 'undefined'"
          >smile</v-btn
        ></v-col
      ></v-row
    >
  </v-container>
</template>

<style scoped></style>
