<script setup lang="ts">
import { useCounterStore } from "../stores/counter";
const Counter = useCounterStore();
</script>
<template>
  <v-card title="First Component" width="200px" height="150px"
    ><v-card-text>{{ Counter.count }}</v-card-text
    ><v-card-actions
      ><v-btn @Click="Counter.increment">increment</v-btn></v-card-actions
    ></v-card
  >
</template>
