<script setup lang="ts">
import { useCounterStore } from "../stores/counter";
const Counter = useCounterStore();
</script>
<template>
  <v-card title="Second Component" width="225px" height="150px"
    ><v-card-text>{{ Counter.doubleCount }}</v-card-text
    ><v-card-actions
      ><v-btn @Click="Counter.dcrease">Decrease</v-btn></v-card-actions
    ></v-card
  >
</template>
